@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  /* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  } */

  .menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Más delgada */
    letter-spacing: 0.05em; /* Aumentar la separación entre letras */
    scroll-behavior: smooth;
  }


.custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

.gradient-border {
    border: 1px solid transparent;
    background: linear-gradient(white, white), linear-gradient(25deg, rgba(209, 213, 219, 1), rgba(209, 213, 219, 1), rgba(0, 0, 0, 0.63), rgba(209, 213, 219, 1), rgba(209, 213, 219, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.border-gradient {
  border-width: 4px; /* Ajusta el grosor del borde según sea necesario */
  border-image: linear-gradient(to right, #38bdf8, #0ea5e9); /* Degradado de sky-600 a otro color */
  border-image-slice: 1; /* Asegura que el degradado se aplique al borde completo */
  border-radius: 1.5rem; /* Asegúrate de que el borde redondeado se mantenga */
}

.text-bigxl {
  font-size: 6rem; /* Ajusta el tamaño según lo que necesites */
}